<div class="container">
  <div class="row">
    <form [formGroup]="detailsGroup" (ngSubmit)="onSubmit()">
      <div class="col-xs-6">
        <h3>Customer Details</h3>
        <hr class="new3" />
        <br />
        <div>
          <label>First Name</label><br />
          <input
            type="text"
            class="form-control"
            placeholder="First Name"
            formControlName="firstName"
          />
        </div>
        <br />
        <div>
          <label>Last Name</label><br />
          <input
            type="text"
            class="form-control"
            placeholder="Last Name"
            formControlName="lastName"
          />
        </div>
        <br />
        <div>
          <label>Telephone Number</label><br />
          <input
            type="text"
            class="form-control"
            placeholder="Telephone Number"
            formControlName="telNumber"
          />
        </div>
        <br />
        <div>
          <label>Email Address</label><br />
          <input
            type="email"
            class="form-control"
            placeholder="example@example.com"
            formControlName="email"
          />
        </div>
        <br />
        <div>
          <button
          class="btn-primary btn-lg rounded-button"
          type="submit"
          style="
            background-color: #5514b4;
            width: 220px;
          "
        >
          To Customer phone
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button
          class="btn-primary btn-lg rounded-button"
          type="button"
          style="background-color: #5514b4;  width: 220px"
        >
          Validate By Agent
        </button>
        </div>
        <br />
      </div>
      <div class="col-xs-5" style="margin-left: 30px">
        <h3>Case Viewer</h3>
        <hr class="new3" />
        <br />
        <div *ngIf="!callCompleted">
          <p style="color: #6d6e71; text-align: center">
            Please select the ID verification option
          </p>
          <br />

        </div>
        <div *ngIf="callCompleted">
          <div *ngIf="gotSuccess">
            <p style="color: #6d6e71; text-align: center">
                An SMS was successfully send to <span style="font-weight: bold;">{{detailsGroup.controls.telNumber.value}}</span>
            </p>
            <br /><br />
          <a href="https://console.au10tixservicesstaging.com/results" target="_blank"
            class="btn-primary btn-lg rounded-button"
            style="background-color:white;color:#5514b4; border: 2px solid #5514b4; margin-left: 135px; width: 250px"
          >
          View Result
          </a>
          <br /><br />
          </div>
          <div *ngIf="!gotSuccess">
            <p style="color: #6d6e71; text-align: center">
              Hmmm, we seem to have an issue <br>
              processing the request
              <br><br>
              Please contact the administrator
          </p>
          <br />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
