<div class="container">
  <div class="row" style="text-align: center; font-family: Rubik">
    <h1 style="font-size: 70px">LOG IN</h1>
    <br /><br />
    <h3 style="color: #6d6e71">stay on top of all EE accounts</h3>
    <hr class="new3" />
    <h4>
      New to EE?
      <span style="color: #5514b4; margin-left: 15px; margin-right: 15px">
        >
      </span>
      <span style="color: #5514b4;"> Register Now</span>
    </h4>
  </div>
</div>
<br /><br><br>
<div class="justify-content-end">
  <div style="background-color: #eeeeee; width: 100%; height: 500px">
    <div class="container">
      <div class="row" style="font-family: Rubik">
        <br><br><br><br><br>
        <div class="col-xs-4" style="margin-left: 30%;">

          <div>
            <label>Email Address</label><br />
            <input
              type="email"
              [(ngModel)]="email"
              class="form-control"
              placeholder="example@example.com"
            />
          </div>
          <br />
          <div>
            <label>Password</label><br />
            <input
              type="text"
              [(ngModel)]="pwd"
              class="form-control"
              placeholder="Password"
            />
          </div>
          <br />
          <button class="btn-primary btn-lg rounded-button" style="background-color: #5514b4; margin-right: 30px;" (click)=checkUser()>Login</button>
          <button class="btn-primary btn-lg rounded-button" style="background-color: #5514b4; margin-right: 30px;">Register</button>

        </div>
      </div>
    </div>
  </div>
</div>
